<!DOCTYPE html>
<html>
<head>
<title>Lite Letter's DNA</title>
	<!--Made by Patrick Lai (patrick@originoffice.com)-->
	<meta name="description" content="Life Letter DNA"/>
	
	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/3d.css">
	<link rel="stylesheet" type="text/css" href="css/rangeSlider.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r58/three.min.js"></script>
	<script src="js/three/threex.dynamictexture.js"></script>
	
	<!--<script src="js/three/trackball.js"></script>-->
	
	<script src="js/owl.min.js"></script>

	<script src="js/testData.js"></script>
	<script src="js/cApp.js"></script>
	<script src="js/three/cCtrl3d.js"></script>
	<script src="js/owl.js"></script>
	<script src="js/three/3d.js"></script>

</head>
<body ng-app="cApp" ng-controller="cCtrl" class="row">

	<div id="threeDNA" style="position: fixed;">
		
	</div>
	
	
	<header class="large-12 mobile-12 columns glass">
		Company Name
	</header>

	<div class="large-12 mobile-12 columns centerText"  style="margin-top: 50px; position: fixed; z-index: 100;">
		<h1>Life Letters DNA Viewer</h1>
		<h5 class="centerText" ng-hide="selectedUser == null">{{selectedUser.firstName}} {{selectedUser.lastName}}'s Sequence</h5>
		<h5 class="centerText" ng-hide="selectedUser != null">Referrence Sequence</h5>
		<br/>
	</div>

	<div class="large-3 mobile-3 columns">
		&nbsp;
		<div class="leftPanel glass" style="margin-top: 10rem; position: fixed; z-index: 100;">


			<h5>Different Genes</h5>
			<select name="genomeSelect" id="genomeSelect" ng-options="genome.index for genome in selectedUser.sequence track by genome.index"  ng-change="scrollToGenome()" ng-model="selectedGenome">
			   <option value=""> Please Choose </option>
			</select>
			<div ng-hide="selectedUser == null" style="margin-top: 1em;">
				<strong>Selected User: {{selectedUser.firstName}} {{selectedUser.lastName}} {{selectedUser.gender | gender}}<br/><br/></strong>
						&#9993 : {{selectedUser.address.street}} {{selectedUser.address.suburb}} {{selectedUser.address.postcode}} {{selectedUser.address.state}}<br/>
						&#9873 : {{selectedUser.ethnicity}} {{selectedUser.gender}}<br/>
						&#127874 : {{selectedUser.dob | date}}<br/>
						ID: {{selectedUser.id}}<br/>
					</div>
			</div>
		</div>
	</div>
	
    <div class="dnaWrapper large-6 mobile-6 columns">
		<br/>
    </div>
	
	<div class="large-3 mobile-3 columns">
		&nbsp;
		<div class="rightPanel glass" style="margin-top: 10rem; position; fixed: z-index: 100;">
			<h5>Gene Regions</h5>
			<select name="geneRegionSelect" id="geneRegionSelect" ng-options="genome.name for genome in geneRegions track by genome.start" ng-change="scrollToGeneRegion()" ng-model="selectedGeneRegion">
			   <option value=""> Please Choose </option>
			</select>
			<div ng-hide="selectedGeneRegion == null" class="descriptionText"  style="margin-top: 1em;">
				<strong>Genes : {{selectedGeneRegion.start}} - {{selectedGeneRegion.end}}<br/></strong>
				{{selectedGeneRegion.description}}
			</div>
		</div>
	</div>

	<div class="large-12 mobile-12 columns fixed bottom bottomBit glass" style="padding: 1rem; height: 350px;">
		<input ng-model="lookingAt" ng-change="scrollToGene(lookingAt)" type="range" min="0" max="{{referrenceGenome.length*2-1}}" style="width: 100%;"/>
		<nav id="owl-demo" class="owl-carousel owl-theme">
			<div class="item" ng-repeat="user in users track by $index">
			  
				<div class="row">
					<div class="large-3 mobile-3 columns">
						<img ng-src="{{getGenderPic(user.gender)}}" style="width: 100px; margin-bottom: 1rem;"/><br/>
						<a class="button small radius" ng-click="selectUser(user)" style="margin: 0 auto;">Select User</a>
					</div>
					<div  class="large-9 mobile-9 columns" style="margin: 1rem 0;">
						<strong>{{user.firstName}} {{user.lastName}} {{user.gender | gender}}<br/></strong>
						&#9993 : {{user.address.street}} {{user.address.suburb}} {{user.address.postcode}} {{user.address.state}}<br/>
						&#9873 : {{user.ethnicity}}<br/>
						&#127874 : {{user.dob | date}}<br/>
						ID: {{user.id}}<br/>
					</div>
				</div>
				
			</div>
				
		</nav>
	</div>
 

</body>
</html>